body{
    background-color: #DAE1E7;
}
#loancal{
    width: 400px;
    height: 400px;
    background-color: #000;
    color: #fff;
    margin-left: 375px;
    margin-top: 95px;
    padding-left: 90px;
    padding-top: 20px;
}
#months{
    width: 175px;
    height: 20px;
}
#amount{
    width: 175px;
    height: 20px;
}
#interest_rate{
    margin-left: 2px;
    width: 175px;
    height: 20px;
}
h1{
    font-size: 40px;
}
